<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
        <array>
                <dict>
                        <key>City</key>
                        <string>Akihabara</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>秋葉原</string>
                        <key>Image</key>
                        <string>Akihabara.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Auckland</string>
                        <key>Region</key>
                        <string>Auckland</string>
                        <key>Country</key>
                        <string>New Zealand</string>
                        <key>Continent</key>
                        <string>Oceania</string>
                        <key>Local</key>
                        <string>Auckland</string>
                        <key>Image</key>
                        <string>Auckland.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Barcelona</string>
                        <key>Region</key>
                        <string>Barcelona</string>
                        <key>Country</key>
                        <string>Spain</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Barcelona</string>
                        <key>Image</key>
                        <string>Barcelona.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Beijing</string>
                        <key>Region</key>
                        <string>Beijing</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>北京</string>
                        <key>Image</key>
                        <string>Beijing.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Berlin</string>
                        <key>Region</key>
                        <string>Berlin</string>
                        <key>Country</key>
                        <string>Germany</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Berlin</string>
                        <key>Image</key>
                        <string>Berlin.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Birmingham</string>
                        <key>Region</key>
                        <string>West Midlands</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Birmingham</string>
                        <key>Image</key>
                        <string>Birmingham.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Boston</string>
                        <key>Region</key>
                        <string>Massachusetts</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Boston</string>
                        <key>Image</key>
                        <string>Boston.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Buenos Aires</string>
                        <key>Region</key>
                        <string>Autonomous City</string>
                        <key>Country</key>
                        <string>Argentina</string>
                        <key>Continent</key>
                        <string>South America</string>
                        <key>Local</key>
                        <string>Buenos Aires</string>
                        <key>Image</key>
                        <string>BuenosAires.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Canberra</string>
                        <key>Region</key>
                        <string>Australian Capital Territory</string>
                        <key>Country</key>
                        <string>Australia</string>
                        <key>Continent</key>
                        <string>Oceania</string>
                        <key>Local</key>
                        <string>Canberra</string>
                        <key>Image</key>
                        <string>Canberra.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Chiba</string>
                        <key>Region</key>
                        <string>Chiba</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>千葉</string>
                        <key>Image</key>
                        <string>Chiba.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Chicago</string>
                        <key>Region</key>
                        <string>Illinois</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Chicago</string>
                        <key>Image</key>
                        <string>Chicago.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Chongqing</string>
                        <key>Region</key>
                        <string>Chongqing</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>重庆</string>
                        <key>Image</key>
                        <string>Chongqing.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Cologne</string>
                        <key>Region</key>
                        <string>North Rhine-Westphalia</string>
                        <key>Country</key>
                        <string>Germany</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Köln</string>
                        <key>Image</key>
                        <string>Cologne.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Cupertino</string>
                        <key>Region</key>
                        <string>California</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Cupertino</string>
                        <key>Image</key>
                        <string>Cupertino.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Edinburgh</string>
                        <key>Region</key>
                        <string>Scotland</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Edinburgh</string>
                        <key>Image</key>
                        <string>Edinburgh.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Florence</string>
                        <key>Region</key>
                        <string>Florence</string>
                        <key>Country</key>
                        <string>Italy</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Firenze</string>
                        <key>Image</key>
                        <string>Florence.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Frankfurt</string>
                        <key>Region</key>
                        <string>Hesse</string>
                        <key>Country</key>
                        <string>Germany</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Frankfurt</string>
                        <key>Image</key>
                        <string>Frankfurt.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Ginza</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>銀座</string>
                        <key>Image</key>
                        <string>Ginza.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Guangzhou</string>
                        <key>Region</key>
                        <string>Guangdong</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>广州</string>
                        <key>Image</key>
                        <string>Guangzhou.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Hamburg</string>
                        <key>Region</key>
                        <string>Hamburg</string>
                        <key>Country</key>
                        <string>Germany</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Hamburg</string>
                        <key>Image</key>
                        <string>Hamburg.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Hong Kong</string>
                        <key>Region</key>
                        <string>Hong Kong</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>香港</string>
                        <key>Image</key>
                        <string>HongKong.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Houston</string>
                        <key>Region</key>
                        <string>Texas</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Houston</string>
                        <key>Image</key>
                        <string>Houston.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Hualien</string>
                        <key>Region</key>
                        <string>Hualien</string>
                        <key>Country</key>
                        <string>Taiwan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>花蓮</string>
                        <key>Image</key>
                        <string>Hualien.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Ikebukuro</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>池袋</string>
                        <key>Image</key>
                        <string>Ikebukuro.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Kaohsiung</string>
                        <key>Region</key>
                        <string>Kaohsiung</string>
                        <key>Country</key>
                        <string>Taiwan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>高雄</string>
                        <key>Image</key>
                        <string>Kaohsiung.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Kobe</string>
                        <key>Region</key>
                        <string>Hyōgo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>神戸</string>
                        <key>Image</key>
                        <string>Kobe.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Kuala Lumpur</string>
                        <key>Region</key>
                        <string>Federal Territory</string>
                        <key>Country</key>
                        <string>Malaysia</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>Kuala Lumpur</string>
                        <key>Image</key>
                        <string>KualaLumpur.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Kyoto</string>
                        <key>Region</key>
                        <string>Kyoto</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>京都</string>
                        <key>Image</key>
                        <string>Kyoto.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Leeds</string>
                        <key>Region</key>
                        <string>West Yorkshire</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Leeds</string>
                        <key>Image</key>
                        <string>Leeds.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Liverpool</string>
                        <key>Region</key>
                        <string>Merseyside</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Liverpool</string>
                        <key>Image</key>
                        <string>Liverpool.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>London</string>
                        <key>Region</key>
                        <string>Greater London</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>London</string>
                        <key>Image</key>
                        <string>London.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Los Angeles</string>
                        <key>Region</key>
                        <string>California</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Los Angeles</string>
                        <key>Image</key>
                        <string>LosAngeles.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Lyon</string>
                        <key>Region</key>
                        <string>Rhône-Alpes</string>
                        <key>Country</key>
                        <string>France</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Lyon</string>
                        <key>Image</key>
                        <string>Lyon.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Madrid</string>
                        <key>Region</key>
                        <string>Madrid</string>
                        <key>Country</key>
                        <string>Spain</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Madrid</string>
                        <key>Image</key>
                        <string>Madrid.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Manchester</string>
                        <key>Region</key>
                        <string>Greater Manchester</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Manchester</string>
                        <key>Image</key>
                        <string>Manchester.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Marseille</string>
                        <key>Region</key>
                        <string>Provence-Alpes-Côte d'Azur</string>
                        <key>Country</key>
                        <string>France</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Marseille</string>
                        <key>Image</key>
                        <string>Marseille.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Meguro</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>目黒</string>
                        <key>Image</key>
                        <string>Meguro.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Miami</string>
                        <key>Region</key>
                        <string>Florida</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Miami</string>
                        <key>Image</key>
                        <string>Miami.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Milan</string>
                        <key>Region</key>
                        <string>Milan</string>
                        <key>Country</key>
                        <string>Italy</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Milano</string>
                        <key>Image</key>
                        <string>Milan.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Montreal</string>
                        <key>Region</key>
                        <string>Quebec</string>
                        <key>Country</key>
                        <string>Canada</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Montreal</string>
                        <key>Image</key>
                        <string>Montreal.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Mountain View</string>
                        <key>Region</key>
                        <string>California</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Mountain View</string>
                        <key>Image</key>
                        <string>MountainView.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Munich</string>
                        <key>Region</key>
                        <string>Bavaria</string>
                        <key>Country</key>
                        <string>Germany</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>München</string>
                        <key>Image</key>
                        <string>Munich.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Nagoya</string>
                        <key>Region</key>
                        <string>Aichi</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>名古屋</string>
                        <key>Image</key>
                        <string>Nagoya.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Nanjing</string>
                        <key>Region</key>
                        <string>Jiangsu</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>南京</string>
                        <key>Image</key>
                        <string>Nanjing.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Narita</string>
                        <key>Region</key>
                        <string>Chiba</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>成田</string>
                        <key>Image</key>
                        <string>Narita.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>New York</string>
                        <key>Region</key>
                        <string>New York</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>New York</string>
                        <key>Image</key>
                        <string>NewYork.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Osaka</string>
                        <key>Region</key>
                        <string>Osaka</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>大阪</string>
                        <key>Image</key>
                        <string>Osaka.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Oxford</string>
                        <key>Region</key>
                        <string>Oxfordshire</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Oxford</string>
                        <key>Image</key>
                        <string>Oxford.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Palo Alto</string>
                        <key>Region</key>
                        <string>California</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Palo Alto</string>
                        <key>Image</key>
                        <string>PaloAlto.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Paris</string>
                        <key>Region</key>
                        <string>Paris</string>
                        <key>Country</key>
                        <string>France</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Paris</string>
                        <key>Image</key>
                        <string>Paris.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Philadelphia</string>
                        <key>Region</key>
                        <string>Pennsylvania</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Philadelphia</string>
                        <key>Image</key>
                        <string>Philadelphia.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Rio de Janeiro</string>
                        <key>Region</key>
                        <string>Rio de Janeiro</string>
                        <key>Country</key>
                        <string>Brazil</string>
                        <key>Continent</key>
                        <string>South America</string>
                        <key>Local</key>
                        <string>Rio de Janeiro</string>
                        <key>Image</key>
                        <string>RioDeJaneiro.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Rome</string>
                        <key>Region</key>
                        <string>Rome</string>
                        <key>Country</key>
                        <string>Italy</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Roma</string>
                        <key>Image</key>
                        <string>Rome.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Salvador</string>
                        <key>Region</key>
                        <string>Bahia</string>
                        <key>Country</key>
                        <string>Brazil</string>
                        <key>Continent</key>
                        <string>South America</string>
                        <key>Local</key>
                        <string>Salvador</string>
                        <key>Image</key>
                        <string>Salvador.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>San Francisco</string>
                        <key>Region</key>
                        <string>California</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>San Francisco</string>
                        <key>Image</key>
                        <string>SanFrancisco.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>São Paulo</string>
                        <key>Region</key>
                        <string>São Paulo</string>
                        <key>Country</key>
                        <string>Brazil</string>
                        <key>Continent</key>
                        <string>South America</string>
                        <key>Local</key>
                        <string>São Paulo</string>
                        <key>Image</key>
                        <string>SaoPaulo.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Sapporo</string>
                        <key>Region</key>
                        <string>Hokkaido</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>札幌</string>
                        <key>Image</key>
                        <string>Sapporo.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Seattle</string>
                        <key>Region</key>
                        <string>Washington</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Seattle</string>
                        <key>Image</key>
                        <string>Seattle.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Shanghai</string>
                        <key>Region</key>
                        <string>Shanghai</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>上海</string>
                        <key>Image</key>
                        <string>Shanghai.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Shenyang</string>
                        <key>Region</key>
                        <string>Liaoning</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>沈阳</string>
                        <key>Image</key>
                        <string>Shenyang.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Shibuya</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>渋谷</string>
                        <key>Image</key>
                        <string>Shibuya.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Shinagawa</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>品川</string>
                        <key>Image</key>
                        <string>Shinagawa.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Shinjuku</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>新宿</string>
                        <key>Image</key>
                        <string>Shinjuku.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Singapore</string>
                        <key>Region</key>
                        <string>Singapore</string>
                        <key>Country</key>
                        <string>Singapore</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>Singapore</string>
                        <key>Image</key>
                        <string>Singapore.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Sumida</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>墨田</string>
                        <key>Image</key>
                        <string>Sumida.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Sydney</string>
                        <key>Region</key>
                        <string>New South Wales</string>
                        <key>Country</key>
                        <string>Australia</string>
                        <key>Continent</key>
                        <string>Oceania</string>
                        <key>Local</key>
                        <string>Sydney</string>
                        <key>Image</key>
                        <string>Sydney.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Taichung</string>
                        <key>Region</key>
                        <string>Taichung</string>
                        <key>Country</key>
                        <string>Taiwan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>台中</string>
                        <key>Image</key>
                        <string>Taichung.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Tainan</string>
                        <key>Region</key>
                        <string>Tainan</string>
                        <key>Country</key>
                        <string>Taiwan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>台南</string>
                        <key>Image</key>
                        <string>Tainan.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Taipei</string>
                        <key>Region</key>
                        <string>Taipei</string>
                        <key>Country</key>
                        <string>Taiwan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>台北</string>
                        <key>Image</key>
                        <string>Taipei.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Tianjin</string>
                        <key>Region</key>
                        <string>Tianjian</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>天津</string>
                        <key>Image</key>
                        <string>Tianjin.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Tokyo</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>東京</string>
                        <key>Image</key>
                        <string>Tokyo.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Toronto</string>
                        <key>Region</key>
                        <string>Ontario</string>
                        <key>Country</key>
                        <string>Canada</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Toronto</string>
                        <key>Image</key>
                        <string>Toronto.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Ueno</string>
                        <key>Region</key>
                        <string>Special Wards of Tokyo</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>上野</string>
                        <key>Image</key>
                        <string>Ueno.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Vancouver</string>
                        <key>Region</key>
                        <string>British Columbia</string>
                        <key>Country</key>
                        <string>Canada</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Vancouver</string>
                        <key>Image</key>
                        <string>Vancouver.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Victoria</string>
                        <key>Region</key>
                        <string>British Columbia</string>
                        <key>Country</key>
                        <string>Canada</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Victoria</string>
                        <key>Image</key>
                        <string>Victoria.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Washington</string>
                        <key>Region</key>
                        <string>District of Columbia</string>
                        <key>Country</key>
                        <string>United States</string>
                        <key>Continent</key>
                        <string>North America</string>
                        <key>Local</key>
                        <string>Washington</string>
                        <key>Image</key>
                        <string>Washington.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Wellington</string>
                        <key>Region</key>
                        <string>Wellington</string>
                        <key>Country</key>
                        <string>New Zealand</string>
                        <key>Continent</key>
                        <string>Oceania</string>
                        <key>Local</key>
                        <string>Wellington</string>
                        <key>Image</key>
                        <string>Wellington.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Wells</string>
                        <key>Region</key>
                        <string>Somerset</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Wells</string>
                        <key>Image</key>
                        <string>Wells.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Westminster</string>
                        <key>Region</key>
                        <string>Greater London</string>
                        <key>Country</key>
                        <string>United Kingdom</string>
                        <key>Continent</key>
                        <string>Europe</string>
                        <key>Local</key>
                        <string>Westminster</string>
                        <key>Image</key>
                        <string>Westminster.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Wuhan</string>
                        <key>Region</key>
                        <string>Hubei</string>
                        <key>Country</key>
                        <string>China</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>武汉</string>
                        <key>Image</key>
                        <string>Wuhan.jpg</string>
                </dict>
                <dict>
                        <key>City</key>
                        <string>Yokohama</string>
                        <key>Region</key>
                        <string>Kanagawa</string>
                        <key>Country</key>
                        <string>Japan</string>
                        <key>Continent</key>
                        <string>Asia</string>
                        <key>Local</key>
                        <string>横浜</string>
                        <key>Image</key>
                        <string>Yokohama.jpg</string>
                </dict>
        </array>
</plist>
